{% extends 'blog/base.html' %}
  {% block title %} Blog-Drafts {% endblock %}

  {% block content %}
    {% for post in post_list %}
        <h1><a class="posttitle" href="{% url 'post_detail' pk=post.pk%}">
          {{post.title}}</a></h1>
        <p class="posttitle">Created on: {{post.create_date|date:"d-m-y P"}}</p>
        <h4 class="postcontent">{{post.text|safe|truncatechars:200}}</h4>
        <hr>
    {% empty %}
      <h1 class="postcontent">No drafts exist.</h1>
    {% endfor %}
  {% endblock %}
